* {
    padding: 0px;
    margin: 0px;
}

header {
    /*background-image: url(/images/uiisa-image1.jpeg)*/
    background-color: #18453B ;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;   
    min-height: 80px; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

.navbar-links {
    height: 50px;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    color: black;
}

.navbar-image {
    height: 60px;
}

.content {
    background: linear-gradient(180deg, rgba(92,187,86,1) 0%, rgba(255,255,255,1) 50%, rgba(255,147,0,1) 100%);
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    margin: 10px;
    padding: 10px;
    background-color: #F5F5DC;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    font-size: xx-large;
}

.leadership, .events, .outreach, .finance, .SocialMediaAndGraphics, .Advisor, .risk, .logistics {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    background-color: #F5F5DC;
    border-radius: 5%;
    height: 600px;
    width: 300px;
    flex-basis: calc(100% / 4);
}

.member img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.role {
    font-family: monospace;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.major {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

footer {
    background-color: #18453B ;
    color: white;
    text-align: center; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px; 
}

.socials {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.socials i {
    font-size: 75px;
}

.socials a {
    color: white;
    font-size: 15px;
}

.socials a:hover {
    color: black;
}

.footer-forms {
    text-decoration: none;
    background-color: #fb8b24;
    color: white;
    padding: 10px;
}

@media (max-width: 980px) {
    .navbar-links {
        width: 100%;
        height: 100px;
    }
    .member {
        padding: 5px;
        margin: 5px;
    }
    .role {
        font-size: 35px;
    }
}